@model List<Proyecto_Construccion.Models.Negocio>

@{
    ViewData["Title"] = "Mis Negocios";
}

<h2>Mis Negocios</h2>

<a class="btn btn-primary mb-3" href="@Url.Action("Crear", "Negocio")">Crear Negocio</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var negocio in Model)
        {
            // Convertir el TipoNegocioId en su nombre correspondiente
            string tipoNegocio = negocio.TipoNegocioId switch
            {
                1 => "Hotel",
                2 => "Restaurante",
                3 => "Turismo",
                _ => "Desconocido"
            };

            <tr>
                <td>@negocio.Nombre</td>
                <td>@tipoNegocio</td>
                <td>
                    <a href="@Url.Action("Editar", "Negocio", new { id = negocio.Id })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Servicios", "Servicio", new { negocioId = negocio.Id, tipoServicio = tipoNegocio })" class="btn btn-info">Ver Servicios</a>
                    <a href="@Url.Action("VerFeedbacks", "Feedback", new { negocioId = negocio.Id })" class="btn btn-secondary">Ver Feedbacks</a>
                </td>

            </tr>
        }
    </tbody>
</table>
